<div class="titulo">
    <h1>{{ listPosts.length }} Incredibly pictures</h1>
    <h3>From an API by petersonaquino</h3>
    <div class="image">
        <img src="assets/LinkedIn_icon.svg.png" style="width: 28px;">
        <a href="https://www.linkedin.com/in/peterson-aquino-2a597b104">&nbsp;Peterson Aquino</a>
    </div>
</div>


<ul class="card-lista">
    <li class="card-column" *ngFor="let card of listPosts">
        <app-card [title]="card.title" [imageUrl]="card.imageUrl" [content]="card.content"
            [username]="card.username"></app-card>
    </li>
</ul>